POSTGRES_URL="postgres://postgres.gklwufwqcmznkaswnqii:PX8KnZ6VRY7nZePB@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.gklwufwqcmznkaswnqii:PX8KnZ6VRY7nZePB@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://gklwufwqcmznkaswnqii.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://gklwufwqcmznkaswnqii.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.gklwufwqcmznkaswnqii:PX8KnZ6VRY7nZePB@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="JGhSc8CuXqgPRpsTpeudS96HFp2Ow3F19GmlNNzvbEDMcUP0FVdsGGfEWsl4SSWPKaO+IZ0vku5zf2YGYXpZaQ=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdrbHd1ZndxY216bmthc3ducWlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzg5NTc3ODMsImV4cCI6MjA1NDUzMzc4M30.UXDolhLxixTqUF10d02UMggF--Sa77Kt4jVhU0L3pqI"
POSTGRES_PASSWORD="PX8KnZ6VRY7nZePB"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdrbHd1ZndxY216bmthc3ducWlpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczODk1Nzc4MywiZXhwIjoyMDU0NTMzNzgzfQ.jeXmqweLei0KRZ_AIi4pp0Ks1iQoaKLO7N5YrxcHRlA"
POSTGRES_HOST="db.gklwufwqcmznkaswnqii.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdrbHd1ZndxY216bmthc3ducWlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzg5NTc3ODMsImV4cCI6MjA1NDUzMzc4M30.UXDolhLxixTqUF10d02UMggF--Sa77Kt4jVhU0L3pqI"